#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="http://download.lab.bos.redhat.com/released/CentOS-releases/CentOS/centos-7/7.5.1804/os/x86_64/"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sdi
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=em1 --onboot=off --ipv6=auto --no-activate
network  --bootproto=dhcp --device=em2 --ipv6=auto --activate
network  --bootproto=dhcp --device=em3 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=em4 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=p3p1 --onboot=off --ipv6=auto
network  --bootproto=dhcp --device=p3p2 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$Q9A52Z7h1GGJoqpS$v1iynylMcMgW0Pkgr4pABuV9NT9rr9EyHApIe5xDbiHeVpPyZoI1fhdR/0zewPRDRT0GJgF8ynOQe3CR5UauY.
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc --ntpservers=gateway,clock01.util.phx2.redhat.com,clock02.util.phx2.redhat.com
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sdi
autopart --type=lvm --nohome
# Partition clearing information
clearpart --all --initlabel --drives=sdi

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
